# Bỏ qua thư mục Temp và các file tạm thời
Temp/
Library/
Obj/
Build/
Logs/
.history/
.vscode/
*.tmp
*.swp
*.log

# Bỏ qua các thư mục build và bin
/build
/bin

# Bỏ qua các file từ hệ điều hành
Thumbs.db
.DS_Store
